<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--
      <ion-button icon-only (click)="menu.open()"><ion-icon name="menu"></ion-icon></ion-button>
      -->
      @if (showMenu) {
        <ion-menu-button menu="mainMenu"></ion-menu-button>
      }
      @if (hasError) {
        <ion-icon name="warning-outline" size="large" slot="start" class="warn-icon"></ion-icon>
      }
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-chip slot="end" (click)="userProfile()" >
      <ion-avatar>
        <img src="{{ userUrlImage }}" />
      </ion-avatar>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-chip>
    <ion-button class="log-out-icon" icon-only clear color="secondary" slot="end" (click)="logout()" href="login">
      <ion-icon name="log-out-outline" size="large" aria-hidden="true"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

