.warn-icon { margin-left: 15px;}
.log-out-icon { margin-right: 15px; }
/*
ion-header { position: relative }
ion-title { margin-left: 40px; }
.center-right{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.center-left{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
    */