<ion-header collapse="condense">
  <ion-toolbar>
    @if (hasError) {
      <ion-icon name="warning-outline" size="large" slot="start" class="warn-icon"></ion-icon>
    }
    <ion-title size="large">
      {{ title }}
    </ion-title>
    @if (loggedIn) {
      <ion-avatar>
        <img src="{{ userUrlImage }}" />
      </ion-avatar>
      <ion-button class="log-out-icon" icon-only clear color="secondary" slot="end" (click)="logout()" href="login">
        <ion-icon name="log-out-outline" size="large"></ion-icon>
      </ion-button>
    }
  </ion-toolbar>
</ion-header>
