.popup {
    margin: 1em;
}
.title {
    margin-top: 1.5ex;
}
ion-badge {
    margin: 2px;
    color: #FFFFFF;
}
.icon {
    padding-right: 0.5em;
    float: left;
}
ion-icon {
    font-size: 24px;
}
a {
    cursor: pointer;
}