<div class="popup">
  <div hidden>{{ '[' + lat + ', ' + lng + ']' }}</div>
  <div class="icon"><ion-icon [src]="BusStop"></ion-icon></div>
  {{ intercanvi? 'intercanviador' : 'parada' }}
  <h5 class="title">{{ nomParada }}</h5>
  <div hidden>Parada núm {{ codiParada }}</div>
  @if (lstLiniesTram.length > 0) {
  <div>
    <div class="icon"><ion-icon [src]="Tram"></ion-icon></div>
    @for (line of lstLiniesTram; track line.CODI_LINIA) {
    <ion-badge [style.--background]="'#' + line.COLOR_LINIA">{{ line.NOM_LINIA }}</ion-badge>
    }
  </div>
  }
  @if (lstLiniesBus.length > 0) {
  <div>
    <div class="icon"><ion-icon [src]="BusBarcelona"></ion-icon></div>
    @for (line of lstLiniesBus; track line.CODI_LINIA) {
    <ion-badge [style.--background]="'#' + line.COLOR_LINIA">{{ line.NOM_LINIA }}</ion-badge>
    }
  </div>
  }
  @if (lstLiniesMetro.length > 0) {
  <div>
    <div class="icon"><ion-icon [src]="MetroBarcelona"></ion-icon></div>
    @for (line of lstLiniesMetro; track line.CODI_LINIA) {
    <ion-badge [style.--background]="'#' + line.COLOR_LINIA">{{ line.NOM_LINIA }}</ion-badge>

    }
  </div>
  }
  @if (lstLiniesFGC.length > 0) {
  <div>
    <div class="icon"><ion-icon [src]="FGC"></ion-icon></div>
    @for (line of lstLiniesFGC; track line.CODI_LINIA) {
    <ion-badge [style.--background]="'#' + line.COLOR_LINIA">{{ line.NOM_LINIA }}</ion-badge>

    }
  </div>
  }
  @if (lstLiniesRodalies.length > 0) {
  <div>
    <div class="icon"><ion-icon [src]="RodaliesBarcelona"></ion-icon></div>
    @for (line of lstLiniesRodalies; track line.CODI_LINIA) {
    <ion-badge [style.--background]="'#' + line.COLOR_LINIA">{{ line.NOM_LINIA }}</ion-badge>

    }
  </div>
  }
</div>