<ion-menu menuId="mainMenu" (ionDidClose)="menuClosed()" content-id="main-content" #menu>
  <ion-header>
    <ion-toolbar>
      <ion-menu-button menu="mainMenu" slot="end"></ion-menu-button>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>Usuario</ion-label>
        </ion-item>
        <div slot="content">
          @if (loggedIn) {
          @if (!userValidated) {
          <ion-item id="resendVerification" [routerLinkActive]="'highlight'" [routerLinkActiveOptions]="{exact:true}"
            class="pointer" (click)="resendVerification()" [routerLink]="['/resend-verification']">
            <ion-icon slot="start" name="checkmark-outline"></ion-icon>
            <ion-label>Reenviar correo verificación email</ion-label>
          </ion-item>
          }
          <ion-item id="profile" [routerLinkActive]="'highlight'" [routerLinkActiveOptions]="{exact:true}"
            class="pointer" (click)="userProfile()" [routerLink]="['/user-profile']">
            <ion-avatar slot="start"><img src="{{ profileImgUrl ?? '/assets/icon/person-outline.svg' }}" /></ion-avatar>
            <ion-label>Perfil</ion-label>
          </ion-item>
          }
          @if (!loggedIn || !userValidated || displayNameDefined) {
          <ion-item id="changePassword" [routerLinkActive]="'highlight'" [routerLinkActiveOptions]="{exact:true}"
            class="pointer" (click)="changePassword()" [routerLink]="['/change-password']">
            <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
            <ion-label>{{ loggedIn? "Cambiar la contraseña" : "Restablecer la contraseña" }}</ion-label>
          </ion-item>
          }
          @if (loggedIn && !userValidated) {
          <ion-item id="changeEmail" [routerLinkActive]="'highlight'" [routerLinkActiveOptions]="{exact:true}"
            class="pointer" (click)="changeEmail()" [routerLink]="['/change-email']">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-label>Cambiar email</ion-label>
          </ion-item>
          }
        </div>
      </ion-accordion>
      @if (loggedIn && userValidated && showServices) {
      <ion-accordion>
        <div slot="header">
          <ion-item id="serveis" [routerLinkActive]="'highlight'" [routerLinkActiveOptions]="{exact:false}"
            class="pointer" (click)="showMap()" [routerLink]="['/private/home/']" routerDirection="root">
            <ion-icon slot="start" name="map-outline"></ion-icon>
            <ion-label>Serveis</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
      }
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>Herramientas</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item>
            <form [formGroup]="showTimeoutForm">
              <ion-input id="timeShow" label="Showing: " type="number" formControlName="showTimeout"
                [value]="showTimeout" (ionInput)="showingOnInput($event)"><ion-text slot="end">s.</ion-text>
              <ion-button clear slot="end" (click)="setShowTimeout()">Set</ion-button></ion-input> 
            </form>
          </ion-item>
          @if (pushNotificationsAvailable) {
          <ion-item>
            <a class="pointer" (click)="showNotifications()">showNotifications</a>
          </ion-item>
          }
          <ion-item id="FaPetar" class="pointer" (click)="petada()">
            <ion-icon slot="start" name="bonfire"></ion-icon>
            <ion-label>Throw error</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>Acerca de</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item>
            Developers:
            <ion-list>
              <ion-item>Mireia Martin</ion-item>
              <ion-item>Cesc Sasal</ion-item>
            </ion-list>
          </ion-item>
          <ion-item>
            version 1.0.3
          </ion-item>
          <ion-item id="terms" class="pointer" (click)="serviceTerms($event)">
            <ion-icon slot="start" name="contract-outline"></ion-icon>
            <ion-label>Términos del servicio</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>